<div class="mat-elevation-z8 mt-5">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="...">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

    <ng-container matColumnDef="material_id">
      <mat-header-cell *matHeaderCellDef>Material ID</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.material_id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="storage_id">
      <mat-header-cell *matHeaderCellDef>Storage ID</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.storage_id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="in">
      <mat-header-cell *matHeaderCellDef>Transaction</mat-header-cell>
      <mat-cell *matCellDef="let data">
        <ng-container *ngIf="data.in">In</ng-container>
        <ng-container *ngIf="!data.in">Out</ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.quantity | number }}</mat-cell>
    </ng-container>


    <ng-container  matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef>action</mat-header-cell>
      <mat-cell *matCellDef="let data">
        <button mat-button class="bg-default">Edit</button>
        <button mat-button class="bg-danger" (click)="onDelete(data)">Delete</button>
      </mat-cell>
    </ng-container>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<ng-template #successDialogDelete>
  <h2 matDialogTitle>Konten Berhasil Dihapus!</h2>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose class="btn btn-primary btn-outline">OK</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #failedDialogDelete>
  <h2 matDialogTitle>Konten Gagal Dihapus!</h2>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose class="btn btn-danger btn-outline">OK</button>
  </mat-dialog-actions>
</ng-template>
