<div class="mat-elevation-z8 mt-5">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="...">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

    <ng-container  matColumnDef="supplier_id">
      <mat-header-cell *matHeaderCellDef>Supplier ID</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.supplier_id }}</mat-cell>
    </ng-container>

    <ng-container  matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.name }}</mat-cell>
    </ng-container>

    <ng-container  matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.unit }}</mat-cell>
    </ng-container>

    <ng-container  matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let data">Rp {{ data.price }}</mat-cell>
    </ng-container>


    <ng-container  matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef>action</mat-header-cell>
      <mat-cell *matCellDef="let data">
        <button mat-button class="bg-default">Edit</button>
        <button mat-button class="bg-danger" (click)="onDelete(data)">Delete</button>
      </mat-cell>
    </ng-container>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<ng-template #successDialogDelete>
  <h2 matDialogTitle>Konten Berhasil Dihapus!</h2>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose class="btn btn-primary btn-outline">OK</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #failedDialogDelete>
  <h2 matDialogTitle>Konten Gagal Dihapus!</h2>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose class="btn btn-danger btn-outline">OK</button>
  </mat-dialog-actions>
</ng-template>
